---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
import { sanityClient, urlFor, getAllPosts } from "../../lib/sanity.js";
import PortableTextRenderer from "../../components/PortableTextRenderer.jsx";
import PlainTextRenderer from "../../components/PlainTextRenderer.jsx";

const { slug } = Astro.params;

const query = `*[_type == "blog" && slug.current == $slug][0] {
  title,
  subtitle,
  metaDescription,
  metaTitle,
  excerpt,
  "imageUrl": featuredImage,
  body[]{
    ...,
    _type == "image" => {
      "url": asset->url,
      alt
    }
  },
  category->{title, slug},
  author->{name},
  publishedAt,
  "createdAt": _createdAt
}`;

const post = await sanityClient.fetch(query, { slug });

if (!post) {
  throw new Error("Post not found");
}

export async function getStaticPaths() {
  const slugs = await getAllPosts() || [];

  console.log("slugs: ", slugs)
  return slugs.map((slug) => ({
    params: { slug }
  }));
}

---

<Layout 
  title={post.title}
  description={post.metaDescription ? post.metaDescription : post.excerpt ? PlainTextRenderer(post.excerpt) : `Mirador Wealth Management - ${post.title} Blog Post`}
  ogImageUrl={post.imageUrl ? urlFor(post.imageUrl).width(800).format('webp').url() : undefined}
>
  <section class="">
    <div class="container flex-v mw-800">
      <a class="smb-2" href={`/${post.category.slug.current}`}>← Back</a>
      <div class="flex-v center tac width-100">
        <h1 class="h2">{post.title}</h1>
        {post.subtitle && <h4>{post.subtitle}</h4>}
        <!-- {post.imageUrl && <img src={post.imageUrl} alt={post.title} />} -->
        <p>By {post.author.name || "Stan Clarke"}, {new Date(post.publishedAt).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}</p>
      </div>
      <div class="posts-body">
        <PortableTextRenderer content={post.body} />
      </div>
    </div>
  </section>
</Layout>
